// Grid
$grid-breakpoints: ( 
	"xs": 360px,
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1440px,
	"xxxl": 1680px,
);

$mobilevh : calc((var(--vh, 1vh) * 100)) ;

$base-rem: var(--font-size);
