/* ==== Wave Animation ==== */
.wave-wrap {
    position:relative;
    bottom: -1px;
    z-index: 1;
    width: 100%; height: 100%;

    .waves {
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height:5vh;
        min-height:100px;
        max-height:140px;

        .parallax {
            & > use {
                animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;

                &:nth-child(1) {animation-delay: -2s; animation-duration: 9s;}
                &:nth-child(2) {animation-delay: -3s; animation-duration: 12s;}
                &:nth-child(3) {animation-delay: -4s; animation-duration: 15s;}
                &:nth-child(4) {animation-delay: -5s; animation-duration: 22s;}
            }
        }
    }

    @include media-max(md) {
        .waves {
            height: 50px; 
            min-height: 50px;
        }
    }
}

@keyframes move-forever {
    0% {transform: translate3d(-90px,0,0);}
    100% { transform: translate3d(85px,0,0);}
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}