@charset "utf-8";

/* Font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* Main Title */
@font-face {
  font-family: 'Khyay';
  src: url('../font/Khyay-Regular.ttf') format('truetype');
}

:root {
	--body: #555;
  --primary: #003CAF;
	--secondary: #70a0ff;
	--white: #fff;
	--gray: #888;
	--light-gray: #ddd;
	--trans-gray: rgba(255, 255, 255, 0.7);
	--dark-gray: #222;
	--line: #E5E5E5;
	
	--container-padding: 40px;
	--font-size: 16px; 
	--hdHeight : 60px;

	@include media-max(lg){
		--font-size: 14px;
		--hdHeight : 50px;
	}

	@include media-max(md){
		--container-padding: 20px;
	}
}
// reset
html, body{
	font-size: var(--font-size); 
	line-height: 1.6; color: var(--body);
}
body, div, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label{
	margin: 0;
	padding: 0;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	outline: 0;
	word-break: keep-all;
}
*{
	box-sizing: border-box;
}
a{
	color: inherit ;
	text-decoration: none;
	&:hover, &:focus, &:active{ 
		color: inherit ;
		text-decoration: none;
	}
}
main a{
	transition: 0.2s;
}
li{
	list-style: none
}
address, em{
	font-style: normal
}
table{
	width: 100%
}
textarea{
	resize: none;
	font-size: 1rem;
	outline: 0;
}
u{
	text-decoration-thickness: 1px;
	text-underline-position: under;
}

img{
	vertical-align: top;
	max-width: 100%
}
button{
	cursor: pointer; background-color: transparent;
	outline: 0 !important; 
	color: inherit;
	transition: 0.2s; border:0 ;
	&.no-style{
		background: none;
		line-height: 1;
		border: 0;
	}
} 

.display01, .h1, .h2, .h3, .h4 ,.h5, .h6 {
	font-weight: 700;
	margin: 0;
}

.display01 {font-size: 64px !important;}
.h1 {font-size: 50px !important;}
.h2 {font-size: 36px !important;}
.h3 {font-size: 28px !important;}
.h4 {font-size: 24px !important;}
.h5 {font-size: 20px !important;}
.h6 {font-size: 18px !important;}
.text-sm {font-size: 16px !important; } 
.text-xs {font-size: 14px !important; } 

@include media-max(lg){
	.display01{font-size: 38px !important;}
	.h1 {font-size: 30px !important;}
	.h2 {font-size: 26px !important;}
	.h3 {font-size: 24px !important;}
	.h4 {font-size: 18px !important;}
	.h5 {font-size: 16px !important;}
	.h6 {font-size: 14px !important;}
	.text-sm {font-size: 13px !important; } 
}

.text-base{font-size: 1rem !important;}
.fw300{font-weight: 300 !important;}
.fw400{font-weight: 400 !important;}
.fw500{font-weight: 500 !important;}
.fw600{font-weight: 600 !important;}
.fw700{font-weight: 700 !important;}
.fw800{font-weight: 800 !important;}
.fw900{font-weight: 900 !important;}

.lh-16 {line-height: 1.6 !important;}

.text-body {color: var(--body) !important;}
.text-primary {color: var(--primary) !important;}
.text-secondary {color: var(--secondary) !important;}
.text-gray {color: var(--gray) !important;}
.text-lightgray {color: var(--light-gray) !important;}
.text-transgray {color: var(--trans-gray) !important;}
.text-white {color: var(--white) !important;}

.font-khyay {font-family: 'Khyay' !important;}