@charset "utf-8";

/* ==== Main Navigation ==== */
nav {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    color: var(--white);
    background-color: transparent;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0);
    transition: all 0.3s;
    opacity: 0;
    animation: show 0.8s ease-out 2s;
    animation-fill-mode: forwards;
    
    .contain {
        width: 100%;height: var(--hdHeight);
        @include flex(flex, center, space-between, row);
    }

	.nav-title {
        letter-spacing: 0.5px;
        pointer-events: none;
    }

    .menu-wrap {
        ul {
            display: flex;
            gap: rempx(30px);
    
            li {
                a {
                    color: rgba(255, 255, 255, 0.5);
                    transition: color 0.3s;
    
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                    }
                }
    
                &.active {
                    a {color: rgba(255, 255, 255, 1);}
                }
            }
        }
    }

    .btn-nav-toggle {
        position: relative;
        z-index: 999;
        width: 24px; height: 14px;
        cursor: pointer;

        span {
            position: absolute;
            display: block;
            width: 100%; height: 2px;
            background-color: var(--white);
            border-radius: 60px;
            transition: transform 0.2s;

            &:first-of-type {
                top: 0; left: 50%;
                transform: translateX(-50%);
            }

            &:last-of-type {
                top: 100%; left: 50%;
                transform: translateX(-50%);
            }
        }
    }

	&.active {
		background-color: var(--white);
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);

        .nav-title {color: var(--primary);}

        .menu-wrap {
            ul {
                li {
                    a {
                        color: var(--gray);
        
                        &:hover {color: var(--primary);}
                    }
        
                    &.active {
                        a {color: var(--primary);}
                    }
                }
            }
        }
	} 

    @include media-max(lg) {
        .menu-wrap {
            transform: translateX(100%);
            position: absolute;
            z-index: 999;
            top: 0; right: 0;
            width: 80%; height: $mobilevh;
            background-color: rgba(0, 0, 0, 0.9);
            transition: transform 0.3s;

            ul {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                @include flex(flex, center, center, column);
                gap: 36px;
                font-size: 24px;

                li {
                    a {
                        color: var(--white) !important;
        
                        &:hover {color: var(--secondary) !important;}
                    }
        
                    &.active {
                        a {color: var(--secondary) !important;}
                    }
                }
            }
        }

        &.active {
            .btn-nav-toggle {
                span {background-color: #000;}
            }
        }
    }
}

/* ==== Footer ==== */
footer {
    position: relative;
    height: 120px;
    background-color: var(--dark-gray);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .upper-txt {
        margin-bottom: 8px;
        color: var(--white);
        letter-spacing: 1px;
        line-height: 1.6;
    }
    .bottom-txt {
        color: var(--gray);
    }
}

body {
    &.open-gnb-menu {
        overflow: hidden;
        
        nav {
            .btn-nav-toggle {
                span {
                    background-color: #fff;
                    &:first-of-type {
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }

                    &:last-of-type {
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }

            @include media-max(lg) {
                .menu-wrap {transform: translateX(0%);}
            }
        }
    }
}
